@font-face {
  font-family: 'Copperplate Gothic Std';
  src: url('../fonts/CopperplateGothicStd-33BC.woff2') format('woff2'),
       url('../fonts/CopperplateGothicStd-33BC.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
